<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="processes" type="AmbiDX.Settings.ProcessSection, AmbiDX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <processes>
    <process name="test" />
  </processes>
</configuration>
