<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="processes" type="AmbiDX.Settings.Process.ProcessSection, AmbiDX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="lights" type="AmbiDX.Settings.Lights.LightsSection, AmbiDX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="preview" type="AmbiDX.Settings.Preview.PreviewSection, AmbiDX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="serialCommunication" type="AmbiDX.Settings.SerialCommunication.SerialCommunicationSection, AmbiDX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="autoRegisterInGAC" value="false" />
  </appSettings>
  <processes>
    <process name="Fallout4" />
    <process name="Ashes_DX12" />
  </processes>
  <serialCommunication enabled="false" baud="115200" port="Com3"/>
  <preview pixelSize="25" />
  <lights minBrightness="120" fade="75">
    <displays>
      <display columns="89" rows="13">
        <leds>
          <led column="29" row="12"/>
          <led column="28" row="12"/>
          <led column="27" row="12"/>
          <led column="26" row="12"/>
          <led column="25" row="12"/>
          <led column="24" row="12"/>
          <led column="23" row="12"/>
          <led column="22" row="12"/>
          <led column="21" row="12"/>
          <led column="20" row="12"/>
          <led column="19" row="12"/>
          <led column="18" row="12"/>
          <led column="17" row="12"/>
          <led column="16" row="12"/>
          <led column="15" row="12"/>
          <led column="14" row="12"/>
          <led column="13" row="12"/>
          <led column="12" row="12"/>
          <led column="11" row="12"/>
          <led column="10" row="12"/>
          <led column="9" row="12"/>
          <led column="8" row="12"/>
          <led column="7" row="12"/>
          <led column="6" row="12"/>
          <led column="5" row="12"/>
          <led column="4" row="12"/>
          <led column="3" row="12"/>
          <led column="2" row="12"/>
          <led column="1" row="12"/>
          <led column="0" row="12"/>
          <led column="0" row="11"/>
          <led column="0" row="10"/>
          <led column="0" row="9"/>
          <led column="0" row="8"/>
          <led column="0" row="7"/>
          <led column="0" row="6"/>
          <led column="0" row="5"/>
          <led column="0" row="4"/>
          <led column="0" row="3"/>
          <led column="0" row="2"/>
          <led column="0" row="1"/>
          <led column="0" row="0"/>
          <led column="1" row="0"/>
          <led column="2" row="0"/>
          <led column="3" row="0"/>
          <led column="4" row="0"/>
          <led column="5" row="0"/>
          <led column="6" row="0"/>
          <led column="7" row="0"/>
          <led column="8" row="0"/>
          <led column="9" row="0"/>
          <led column="10" row="0"/>
          <led column="11" row="0"/>
          <led column="12" row="0"/>
          <led column="13" row="0"/>
          <led column="14" row="0"/>
          <led column="15" row="0"/>
          <led column="16" row="0"/>
          <led column="17" row="0"/>
          <led column="18" row="0"/>
          <led column="19" row="0"/>
          <led column="20" row="0"/>
          <led column="21" row="0"/>
          <led column="22" row="0"/>
          <led column="23" row="0"/>
          <led column="24" row="0"/>
          <led column="25" row="0"/>
          <led column="26" row="0"/>
          <led column="27" row="0"/>
          <led column="28" row="0"/>
          <led column="29" row="0"/>
          <led column="30" row="0"/>
          <led column="31" row="0"/>
          <led column="32" row="0"/>
          <led column="33" row="0"/>
          <led column="34" row="0"/>
          <led column="35" row="0"/>
          <led column="36" row="0"/>
          <led column="37" row="0"/>
          <led column="38" row="0"/>
          <led column="39" row="0"/>
          <led column="40" row="0"/>
          <led column="41" row="0"/>
          <led column="42" row="0"/>
          <led column="43" row="0"/>
          <led column="44" row="0"/>
          <led column="45" row="0"/>
          <led column="46" row="0"/>
          <led column="47" row="0"/>
          <led column="48" row="0"/>
          <led column="49" row="0"/>
          <led column="50" row="0"/>
          <led column="51" row="0"/>
          <led column="52" row="0"/>
          <led column="53" row="0"/>
          <led column="54" row="0"/>
          <led column="55" row="0"/>
          <led column="56" row="0"/>
          <led column="57" row="0"/>
          <led column="58" row="0"/>
          <led column="59" row="0"/>
          <led column="60" row="0"/>
          <led column="61" row="0"/>
          <led column="62" row="0"/>
          <led column="63" row="0"/>
          <led column="64" row="0"/>
          <led column="65" row="0"/>
          <led column="66" row="0"/>
          <led column="67" row="0"/>
          <led column="68" row="0"/>
          <led column="69" row="0"/>
          <led column="70" row="0"/>
          <led column="71" row="0"/>
          <led column="72" row="0"/>
          <led column="73" row="0"/>
          <led column="74" row="0"/>
          <led column="75" row="0"/>
          <led column="76" row="0"/>
          <led column="77" row="0"/>
          <led column="78" row="0"/>
          <led column="79" row="0"/>
          <led column="80" row="0"/>
          <led column="81" row="0"/>
          <led column="82" row="0"/>
          <led column="83" row="0"/>
          <led column="84" row="0"/>
          <led column="85" row="0"/>
          <led column="86" row="0"/>
          <led column="87" row="0"/>
          <led column="88" row="0"/>
          <led column="88" row="1"/>
          <led column="88" row="2"/>
          <led column="88" row="3"/>
          <led column="88" row="4"/>
          <led column="88" row="5"/>
          <led column="88" row="6"/>
          <led column="88" row="7"/>
          <led column="88" row="8"/>
          <led column="88" row="9"/>
          <led column="88" row="10"/>
          <led column="88" row="11"/>
          <led column="88" row="12"/>
          <led column="87" row="12"/>
          <led column="86" row="12"/>
          <led column="85" row="12"/>
          <led column="84" row="12"/>
          <led column="83" row="12"/>
          <led column="82" row="12"/>
          <led column="81" row="12"/>
          <led column="80" row="12"/>
          <led column="79" row="12"/>
          <led column="78" row="12"/>
          <led column="77" row="12"/>
          <led column="76" row="12"/>
          <led column="75" row="12"/>
          <led column="74" row="12"/>
          <led column="73" row="12"/>
          <led column="72" row="12"/>
          <led column="71" row="12"/>
          <led column="70" row="12"/>
          <led column="69" row="12"/>
          <led column="68" row="12"/>
          <led column="67" row="12"/>
          <led column="66" row="12"/>
          <led column="65" row="12"/>
          <led column="64" row="12"/>
          <led column="63" row="12"/>
          <led column="62" row="12"/>
          <led column="61" row="12"/>
          <led column="60" row="12"/>
          <led column="59" row="12"/>
          <led column="58" row="12"/>
          <led column="57" row="12"/>
          <led column="56" row="12"/>
          <led column="55" row="12"/>
          <led column="54" row="12"/>
          <led column="53" row="12"/>
          <led column="52" row="12"/>
          <led column="51" row="12"/>
          <led column="50" row="12"/>
          <led column="49" row="12"/>
          <led column="48" row="12"/>
          <led column="47" row="12"/>
          <led column="46" row="12"/>
          <led column="45" row="12"/>
          <led column="44" row="12"/>
          <led column="43" row="12"/>
          <led column="42" row="12"/>
          <led column="41" row="12"/>
          <led column="40" row="12"/>
          <led column="39" row="12"/>
          <led column="38" row="12"/>
          <led column="37" row="12"/>
          <led column="36" row="12"/>
          <led column="35" row="12"/>
          <led column="34" row="12"/>
          <led column="33" row="12"/>
          <led column="32" row="12"/>
          <led column="31" row="12"/>
          <led column="30" row="12"/>
        </leds>
      </display>
    </displays>
  </lights>
</configuration>
